RedirectMatch unpackclass_[0-9-]+\.pack$ /unpackclass.pack
RedirectMatch runescape_gl_[0-9-]+\.pack200$ /runescape_gl.pack200
RedirectMatch runescape_[0-9-]+\.pack200$ /runescape.pack200
RedirectMatch jogl_[0-9-]+\.pack200$ /jogl.pack200
RedirectMatch jogl_0_0_[0-9-]+\.lib$ /jogl_0_0.lib
RedirectMatch jogl_0_1_[0-9-]+\.lib$ /jogl_0_1.lib
RedirectMatch jogl_1_0_[0-9-]+\.lib$ /jogl_1_0.lib
RedirectMatch jogl_1_1_[0-9-]+\.lib$ /jogl_1_1.lib
RedirectMatch jogl_2_0_[0-9-]+\.lib$ /jogl_2_0.lib
RedirectMatch jogl_2_1_[0-9-]+\.lib$ /jogl_2_1.lib
RedirectMatch jogl_2_2_[0-9-]+\.lib$ /jogl_2_2.lib
RedirectMatch jogl_3_0_[0-9-]+\.lib$ /jogl_3_0.lib
RedirectMatch jogl_3_1_[0-9-]+\.lib$ /jogl_3_1.lib
RedirectMatch jogl_3_2_[0-9-]+\.lib$ /jogl_3_2.lib
RedirectMatch jogl_4_0_[0-9-]+\.lib$ /jogl_4_0.lib
RedirectMatch jogl_4_1_[0-9-]+\.lib$ /jogl_4_1.lib
RedirectMatch jogl_5_0_[0-9-]+\.lib$ /jogl_5_0.lib
RedirectMatch jogl_5_1_[0-9-]+\.lib$ /jogl_5_1.lib
RedirectMatch jogl_6_0_[0-9-]+\.lib$ /jogl_6_0.lib
RedirectMatch jogl_6_1_[0-9-]+\.lib$ /jogl_6_1.lib
RedirectMatch jogl_6_2_[0-9-]+\.lib$ /jogl_6_2.lib
RedirectMatch jogl_7_0_[0-9-]+\.lib$ /jogl_7_0.lib
RedirectMatch jogl_7_1_[0-9-]+\.lib$ /jogl_7_1.lib
RedirectMatch jogl_7_2_[0-9-]+\.lib$ /jogl_7_2.lib
RedirectMatch jogl_8_0_[0-9-]+\.lib$ /jogl_8_0.lib
RedirectMatch jogl_8_1_[0-9-]+\.lib$ /jogl_8_1.lib
RedirectMatch jogl_8_2_[0-9-]+\.lib$ /jogl_8_2.lib
RedirectMatch jogl_9_0_[0-9-]+\.lib$ /jogl_9_0.lib
RedirectMatch jogl_9_1_[0-9-]+\.lib$ /jogl_9_1.lib
RedirectMatch jogl_9_2_[0-9-]+\.lib$ /jogl_9_2.lib
